camouflages_federale_europe_8k
textures_bestof_8k
logs_generation
logs
D:\Documents\GitHub\camo-generator\logs
D:\Documents\GitHub\camo-generator\camouflages_federale_europe_8k
D:\Documents\GitHub\camo-generator\logs_generation
D:\Documents\GitHub\camo-generator\textures_bestof_8k